<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saladillo.josegabrielvazquezgil.d03_paper_rock_scissors_jgvg">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
